# Backend specific
backend/HELP.md
backend/target/
backend/.mvn/wrapper/maven-wrapper.jar
!backend/**/src/main/**/target/
!backend/**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
*.env
backend/data/
backend/src/main/resources/application.properties

# Frontend specific
frontend/node_modules/
frontend/dist/
frontend/build/
frontend/.next/
frontend/.nuxt/
frontend/.vuepress/dist/
frontend/.serverless/
frontend/.fusebox/
frontend/.dynamodb/
frontend/.tern-port/
frontend/.vscode-test/
frontend/.yarn/cache
frontend/.yarn/unplugged
frontend/.yarn/build-state.yml
frontend/.yarn/install-state.gz
frontend/.pnp.*
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# TLS certificates
certs/
