spring.application.name=financial-manager
spring.security.user.name=
spring.security.user.password=

security.jwt.secret-key=
security.jwt.expiration-time=60

spring.jpa.hibernate.ddl-auto=update
spring.jpa.hibernate.show-sql=true
spring.datasource.url=jdbc:postgresql://localhost:5432/${POSTGRES_DB}
spring.datasource.username=${POSTGRES_USER}
spring.datasource.password=${POSTGRES_PASSWORD}

logging.level.org.springdoc=DEBUG
logging.level.org.springframework.web=DEBUG

springdoc.swagger-ui.enabled=false
